*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* -- Fonts --*/
        --font-headings: 'Poppins', sans-serif;
        --font-body: 'Open Sans', sans-serif;

    /* -- Colors primary --*/
        --Pink: hsl(322, 100%, 66%);
        --Light-Pink: hsl(321, 100%, 78%);
        --Light-Red: hsl(0, 100%, 63%);

    /* -- Colors neutral --*/
        --Very-Dark-Cyan: hsl(192, 100%, 9%);
        --Very-Pale-Blue: hsl(207, 100%, 98%);
}

/* -- Navbar -- */


/* -- Section -- */


/* -- Footer -- */


@media only screen and (min-width: 768px) {
    
    /* -- Navbar -- */


    /* -- Section -- */


    /* -- Footer -- */
    
}