* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* -- Fonts --*/
  --font-headings: "Poppins", sans-serif;
  --font-body: "Open Sans", sans-serif;
  --desktop-font-size-headings: 40px;
  --desktop-font-size-body: 18px;

  /* -- Colors primary --*/
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  /* -- Colors neutral --*/
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

/* -- Navbar -- */

#navbar-container {
  font-family: var(--font-body);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}

#navbar-container > div > img {
  width: 100px;
}

.button-try {
  font: var(--font-body);
  color: var(--Pink);
  background-color: transparent;
  font-size: 0.5rem;
  border: 1px solid var(--Pink);
  border-radius: 2rem;
  padding: 0.5rem 1.5rem;
}

/* -- Section -- */

#section-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grow-section{
    margin-top: 5rem;
}

.background{
  display: block;
  width: 100%;
}

.d-xxl-none{
  display: none;
} 

.bkg{
  padding-top: -5px;
  background-color: var(--Very-Pale-Blue);
}

.container{
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container> img{
    width: 250px;
    margin-bottom: 2rem;
}

.container > .button {
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  font-weight: 700;
  font-size: 10px;
  border: none;
  border-radius: 30px;
  padding: 0.7rem 1.5rem;
  margin-bottom: 5rem;
}

.container > h1 {
  font-family: var(--font-headings);
  color: var(--Very-Dark-Cyan);
  margin-bottom: 1.25rem;
}

.p-container {
  font-family: var(--font-body);
  font-size: 12px;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 2rem;
}

.section-info > h1 {
  font-family: var(--font-headings);
  color: var(--Very-Dark-Cyan);
  margin-bottom: 1.25rem;
}

.section-info > h2 {
  font-family: var(--font-headings);
  font-size: 16px;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 1rem;
}

.section-info > p {
  font-family: var(--font-body);
  font-size: 12px;
  color: var(--Very-Dark-Cyan);
  margin-bottom: 2rem;
}

#section-about {
  display: flex;
  flex-direction: column;
}

#section-about > .page-info {
  font-family: var(--font-body);
  color: var(--Very-Dark-Cyan);
}

.page-info > img {
  width: 25px;
}
.page-info > h1 {
  font-family: var(--font-headings);
  font-size: 50px;
  font-weight: lighter;
  color: var(--Very-Dark-Cyan);
}

.page-info> p{
    font-family: var(--font-body);
    color: var(--Very-Dark-Cyan);
    font-size: 12px;
    text-align: center;
}

/* -- Footer -- */

.footer-content{
  background-color: var(--Very-Dark-Cyan);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.subscribe{
  color: var(--Very-Pale-Blue);
}

.subscribe> h3{
  font-family: var(--font-headings);
  margin-bottom: .5rem;
}

.subscribe> p{
  font-family: var(--font-body);
  font-size: 12px;
  margin-bottom: 1rem;
}

.row{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.col-lg-input> input{
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  border: none;
  margin-bottom: .5rem;
}

.col-lg-button{
  align-items: flex-end;
  text-align: right;
  margin-bottom: 3rem;
}

.col-lg-button> button{
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  padding: .5rem 2rem;
  border-radius: 5px;
  border: none;
}


.logo-container{
  display: flex;
  align-items: center;
  margin-bottom: 1px;
}

.logo-container>img{
  margin-right: .5rem;
  width: 4.5%;
}

.logo-container> h1{
  font-family: var(--font-headings);
  font-size: 35px;
  color: var(--Very-Pale-Blue);
}

.contacts> p{
  font-family: var(--font-body);
  color: var(--Very-Pale-Blue);
  font-size: 12px;
}

.phone{
  margin-top: 2rem;
}

.footer-contact{
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.footer-contact> img{
  width: 15px;
  margin-right: 1rem;
}

.socials{
  width: 2%;
  margin-right: .5rem;
}

#attribution-container{
  padding: .5rem;
  text-align: center;
  font-family: var(--font-body);
  font-size: 7px;
}

.attribution> a{
  color: var(--Pink);
  text-decoration: none;
}

@media only screen and (min-width: 376px) {
  
  /* -- Navbar -- */

  #navbar-container{
    padding: 2.5rem;
  }

  #navbar-container>div>img {
    width: 75%;
  }
       
  .button-try {
    font-size: 14px;
    transition: all .3s;
  }
   
  .button-try:hover {
    cursor: pointer;
    color: var(--Light-Pink);
    border: 1px solid var(--Light-Pink);
  } 

  /* -- Section --*/

  .grow-section{
    margin-top: 25rem;
  }

  .d-xxl-none{
    display: block;
    width: 100%;
  }
  
  .d-xl-none{
    display: none;
  } 

  .container> h1{
    font-size: var(--desktop-font-size-headings);
  }
        
  .p-container {
    margin: 0 20rem 3rem 20rem;
    font-size: var(--desktop-font-size-body);
  }

  .container> .button{
    font-size: var(--desktop-font-size-body);
    font-weight: 200;
    margin-top: 2rem;
    padding: 1.5rem 4rem;
    transition: all .3s;
    margin-bottom: 30rem;
  }

  .container> .button:hover{
    box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.46);
    -webkit-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.46);
    -moz-box-shadow: -1px 5px 12px -2px rgba(0,0,0,0.46);
    background-color: var(--Light-Pink);
    cursor: pointer;
  }

  .container> .screen-mockups{
    width: 100%;
  }

  .container> img{
    width: 45%;
  }

  .section-info{
    padding: 5rem;
    text-align: left;
  }
        
  .section-info>h2{
    font-size: var(--desktop-font-size-headings);
  }
        
  .section-info>p{
    font-size: var(--desktop-font-size-body);
  }

  .direction-right{
    flex-direction: row-reverse;
  }

  .direction-left{
    flex-direction: row;
  }

  #section-about{
    flex-direction: row;
  }

  .page-info> img{
    width: 35px;
  }

  .page-info> h1{
    font-size: 65px;
  }

  .page-info> p{
    font-size: 15px;
  }

  .margin-right{
    margin-right: 25rem;
  }

  /* -- FOOTER --*/
  .footer-content{
    flex-direction: row-reverse;
    padding: 5rem;
  }

  .contacts{
    margin-right: 5rem;
  }

  .subscribe> h3{
    font-size: 30px;
  }

  .subscribe> p{
    font-size: 14px;
  }
  
  .contacts> h1{
    font-size: 30px;
  }

  .contacts> p{
    font-size: 14px;
  }

  .col-lg-button> button{
    padding: 1rem 4rem;
    font-size: var(--desktop-font-size-body);
    transition: all .2s;
  }

  .col-lg-button> button:hover{
    background-color: var(--Light-Pink);
    cursor: pointer;
  }

  #attribution-container{
    font-size: 16px;
  }

}

