*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    /* -- Fonts --*/
        --font-headings: 'Poppins', sans-serif;
        --font-body: 'Open Sans', sans-serif;

    /* -- Colors primary --*/
        --Pink: hsl(322, 100%, 66%);
        --Light-Pink: hsl(321, 100%, 78%);
        --Light-Red: hsl(0, 100%, 63%);

    /* -- Colors neutral --*/
        --Very-Dark-Cyan: hsl(192, 100%, 9%);
        --Very-Pale-Blue: hsl(207, 100%, 98%);
}

/* -- Navbar -- */
#navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 1rem;
}

.button-try {
    font: var(--font-body);
    color: var(--Light-Pink);
    font-size: .5rem ;
    border: 1px solid var(--Light-Pink);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

#navbar-container>div>img {
    width: 100px;
    height: auto;
}

.button-try {
    font: var(--font-body);
    color: var(--Light-Pink);
    font-size: .5rem ;
    border: 1px solid var(--Light-Pink);
    border-radius: 2rem;
    padding: 0.5rem 2rem;
}

/* -- Section -- */
section>h1{
    text-align: center;
    font: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding: 40px 90px;
}
.button-get{
    color: var(--Very-Pale-Blue);
    background-color: var(--Pink);
    font-size: 20px ;
    border: 1px solid var(--Light-Pink);
    border-radius: 2rem;
    text-align: center;
    margin:30px 250px;
    padding: 30px;
}
section>h1~p{
    text-align: center;
    padding-bottom: 30px;
    font-size: 20px;
    margin:10px 180px;
    
}
.image-section{
    display: block;
    margin: auto;
    width: 70%;
    margin-top: 15%;
}


/* -- Footer -- */


@media only screen and (min-width: 768px) {
    
    /* -- Navbar -- */
    #navbar-container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        padding: 3rem;
    }


    .button-try {
        font: var(--Very-Pale-Blue);
        color: var(--Pink);
        font-size: .5rem ;
        border: 1px solid var(--Light-Pink);
        border-radius: 2rem;
        padding: 0.5rem 2rem;
    }

    #navbar-container>div>img {
        width: 100%;
        height: auto;
    }
    /* -- Section -- */
    section>h1{
        text-align: center;
        font: var(--font-headings);
        font-weight: 700;
        font-size: 50px;
        padding: 20px 80px;
    }
    .button-get{
        color: var(--Very-Pale-Blue);
        background-color: var(--Pink);
        font-size: 20px ;
        border: 1px solid var(--Light-Pink);
        border-radius: 2rem;
        text-align: center;
        margin:5% 30%;
        padding: 13px;
    }
    section>h1~p{
        text-align: center;
        padding-bottom: 30px;
        font-size: 20px;
        margin:5% 180px;
        
    }
    .image-section{
        display: block;
        margin: auto;
        width: 70%;
        margin-top: 15%;
    }
    .uno{
        font-family: 'Open Sans', sans-serif;
        font-size: 60px;
        font-weight: 700;
        
    }
    .dos{
        font-family: 'Open Sans', sans-serif;
        color: var(--Very-Dark-Cyan);
        
    }
    .cont-2>img{
        margin-top: 90px;        
    }
    .cont-2{
        text-align: center;
    }
    /* -- Footer -- */
    
}